@model Project.Models.ViewModels.EmployeesMapIdViewModel



@if (@Model.AllEmployees.Any())
 {
    <form method="post" asp-area="Customer" asp-controller="Map" asp-action="GenerateMap">


        <div class="form-group">
            <label>All Employees</label>
            <select id="myselect" class="form-control AllAttributes">

                @foreach (var employee in Model.AllEmployees)
                 {

                    <option class="allatributes" id="@employee.Id">@employee.Name who  @(employee.HasCar ? "has car" : "hasn't car") </option>

                 }
            </select>

            @for (int i = 0; i < Model.AllEmployees.Count; i++)
             {
                @Html.HiddenFor(model => Model.AllEmployees[i].Id, new { @class = "hidden" })
             }
        </div>

        <input asp-for="ChosenId" type="hidden" />
        <button id="ButtonSubmit"></button>
    </form>

 }
else
{
    <span> No employee has this attribute</span>

}

@section Scripts{
    <script>


        $(document).ready(function () {
            var allusers = [];
            var selecteduser;

            selecteduser = $("#myselect option:selected").attr("id");



            document.getElementById("ChosenId").value = selecteduser;

            $("#myselect").on("change", function () {
                document.getElementById("ChosenId").value = selecteduser;


            });
        });


    </script>
}