@model Project.Models.ViewModels.EmployeesMapViewModel
@{
    ViewData["Title"] = "GenerateMap";
}

<div class="row">
        <div class="col-8">
            <div id="map" class="z-depth-1-half map-container" style="height: 500px></div>

        </div>
        <div class="col"></div>
    </div>

    <div id="right-panel">
        <div>
            @Html.HiddenFor(model => Model.ChosenEmployee.StreetAddress)



        <select id="start">
            <option id="Starter" value="@Model.ChosenEmployee.StreetAddress" HasCar="@(Model.ChosenEmployee.HasCar ? "HasCar" : "Hasn't Car")"></option></optio>

        </select>

        <select multiple id="waypoints">
            @foreach (var employee in Model.OtherEmloyees)
            {
             <option value="@employee.StreetAddress"></option>

            }
        </select>
        <select id="end">
            <option value="@Model.OtherEmloyees.LastOrDefault().StreetAddress"></option>

        </select>
        <input type="submit" id="submit" value="Show Route">
        </div>
        <div id="directions-panel"></div>
    </div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                var select1 = document.getElementById('start');
                select1.style.display = 'none';

                var select2 = document.getElementById('waypoints');
                select2.style.display = 'none';

                var select3 = document.getElementById('end');
                select3.style.display = 'none';
            });

        </script>
        <script src="~/js/map.js"></script>

    }