@model Project.Models.ViewModels.AttributesViewModel
@{
    ViewData["Title"] = "ChangeAttributes";
    var res = Model.AllAttributes.ToLookup(x => x.ATTR_Name, x => x.ATTR_Value);
    int i = 0;

}

@functions {

    Guid CalculateId(string name, string value)
    {
        var id = Model.AllAttributes.Where(x => x.ATTR_Name.Contains(name) && x.ATTR_Value.Contains(value)).SingleOrDefault().ATTR_ID;

        return id;
    }

}
<div class="form-group row">
    <div class="col-4">
        <label><b>Attributes</b></label>
    </div>

</div>


@foreach (var attr in res)
{
    <div class="form-group">
        <label>@attr.Key</label>
        <select class="form-control" id="dropdown-@i" attr-name="@attr.Key">

            <option>none</option>
            @foreach (var attrvalue in attr)
            {

                <option data-id="@CalculateId(@attr.Key, attrvalue)" value="@attrvalue">@attrvalue</option>

            }

        </select>
    </div>

    i++;


}
<input type="hidden" id="NumDropDowns" value="@i" />

<input type="hidden" id="PersonId" value="@Model.Employee.Id" />

<div class="form-group row">
    <div class="col-md-5 offset-md-5">
        <button class="btn btn-secondary" id="Check">Save</button>
    </div>

</div>

@section Scripts{
    <script src="~/js/ChangeAttributes.js"></script>

}